div.no_spacing {
    width: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.border001
{
    BORDER-RIGHT: #043e88 1px solid;
    BORDER-TOP: #043e88 1px solid;
    MARGIN: 1px;
    BORDER-LEFT: #043e88 1px solid;
    BORDER-BOTTOM: #043e88 1px solid
}
.borderBottom001
{
    BORDER-RIGHT: #dda0dd;
    BORDER-TOP: #dda0dd;
    BORDER-LEFT: #dda0dd;
    BORDER-BOTTOM: #f8d49d 1px solid
}
.border002
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    BORDER-LEFT: silver 1px solid;
    BORDER-BOTTOM: silver 1px solid
}
A.Head-Mainlink:active
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: #6097c4;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
A.Head-Mainlink:link
{
    FONT-SIZE: 14px;
    COLOR: #286aa0;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
A.Head-Mainlink:visited
{
    FONT-SIZE: 14px;
    COLOR: #4682b4;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
A.Head-Mainlink:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: #004279;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
.Head-Divider
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: lightgoldenrodyellow
}
A.Mainlink:active
{
    FONT-SIZE: 12px;
    COLOR: #8A6B00;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Mainlink:link
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #8A6B00;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Mainlink:visited
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #8A6B00;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Mainlink:hover
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
.Header001
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.BorderTop001
{
    BORDER-RIGHT: #004279;
    BORDER-TOP: #004279 solid;
    BORDER-LEFT: #004279;
    BORDER-BOTTOM: #004279
}
A.Head-Quicklink:active
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: #cbe0f1;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Head-Quicklink:link
{
    FONT-SIZE: 10px;
    COLOR: #cbe0f1;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Head-Quicklink:visited
{
    FONT-SIZE: 10px;
    COLOR: #cbe0f1;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Head-Quicklink:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.BodyTextLink:active
{
    FONT-WEIGHT: bolder;
    COLOR: #0d5087;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: underline
}
A.BodyTextLink:link
{
    COLOR: #0d5087;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: underline
}
A.BodyTextLink:visited
{
    COLOR: #0d5087;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: underline
}
A.BodyTextLink:hover
{
    FONT-WEIGHT: bolder;
    COLOR: #0d5087;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: underline
}
A.BodyPlainTextLink:active
{
    COLOR: darkmagenta;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    TEXT-DECORATION: underline
}
A.BodyPlainTextLink:link
{
    COLOR: darkmagenta;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    TEXT-DECORATION: none
}
A.BodyPlainTextLink:visited
{
    COLOR: darkmagenta;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    TEXT-DECORATION: none
}
A.BodyPlainTextLink:hover
{
    COLOR: darkmagenta;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    TEXT-DECORATION: underline
}
.TextH1Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 40px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextH2Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 30px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    BACKGROUND-COLOR: transparent
}
.TextH3Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 22px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextH4Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 18px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextH5Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextH6Heading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.BodyPlainText
{
    FONT-SIZE: 12px;
    COLOR: black;
    LINE-HEIGHT: 18px;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    TEXT-DECORATION: none
}
.BodyPoweredByPlainText
{
    FONT-SIZE: 12px;
    COLOR: lightgrey;
    FONT-FAMILY: Tahoma, Arial, Verdana;
    TEXT-DECORATION: none
}
A.PoweredByLink:active
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: underline
}
A.PoweredByLink:link
{
    FONT-SIZE: 10px;
    COLOR: lightgrey;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
A.PoweredByLink:visited
{
    FONT-SIZE: 10px;
    COLOR: lightgrey;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: none
}
A.PoweredByLink:hover
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Arial, Verdana;
    TEXT-DECORATION: underline
}
.TextH1SubHeading
{
    FONT-SIZE: 40px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.TextH2SubHeading
{
    FONT-SIZE: 30px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.TextH3SubHeading
{
    FONT-SIZE: 22px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.TextH4SubHeading
{
    FONT-SIZE: 18px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.TextH5SubHeading
{
    FONT-SIZE: 14px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.TextH6SubHeading
{
    FONT-SIZE: 12px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial, Tahoma;
    FONT-VARIANT: small-caps
}
.BodySpecialText
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Verdana;
    BACKGROUND-COLOR: transparent
}
.BodyHeadText
{
    FONT-SIZE: 18px;
    COLOR: black;
    FONT-FAMILY: Arial, Verdana
}
A.ContinueLink:active
{
    FONT-SIZE: 12px;
    COLOR: #043e88;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.ContinueLink:hover
{
    FONT-SIZE: 12px;
    COLOR: #043e88;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.ContinueLink:link
{
    FONT-SIZE: 12px;
    COLOR: tomato;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.ContinueLink:visited
{
    FONT-SIZE: 12px;
    COLOR: tomato;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
TD.PlainBackGround
{
    BACKGROUND-COLOR: lightyellow
}
.TextSelectedSection
{
    FONT-WEIGHT: bolder;
    COLOR: #004279;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
TD.HeadBackGround
{
    FONT-FAMILY: Tahoma, Verdana;
    BACKGROUND-COLOR: #cccccc
}
TD.BodyBackGround
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: wheat;
    TEXT-DECORATION: none
}
TD.HomeHeadBackGround
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 20px;
    COLOR: darkred;
    FONT-FAMILY: 'Century Gothic', 'Arial Narrow', Tahoma, Arial;
    BACKGROUND-COLOR: transparent
}
TD.HomeBodyBackGround
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Courier, Verdana
}
TD.HeadBackGround1
{
    FONT-FAMILY: Tahoma, Verdana;
    BACKGROUND-COLOR: #c1d5e7
}
TD.BodyBackGround1
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial
}
.Border003
{
    BORDER-RIGHT: lightsteelblue 1px solid;
    BORDER-TOP: lightsteelblue 1px solid;
    BORDER-LEFT: lightsteelblue 1px solid;
    BORDER-BOTTOM: lightsteelblue 1px solid
}
A.MainLink1:active
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: brown;
    FONT-STYLE: oblique;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.MainLink1:link
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: indianred;
    FONT-STYLE: oblique;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.MainLink1:visited
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: indianred;
    FONT-STYLE: oblique;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
A.Mainlink1:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: brown;
    FONT-STYLE: oblique;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
.CopyRightText
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Tahoma
}
.BodySubHeadText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.TextH5HeadingBlack
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Arial
}
A.NavLink:active
{
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
A.NavLink:hover
{
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
A.NavLink:link
{
    FONT-SIZE: 11px;
    COLOR: saddlebrown;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
A.NavLink:visited
{
    FONT-SIZE: 11px;
    COLOR: saddlebrown;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
TD.NavRow
{
    BACKGROUND-COLOR: navajowhite
}
TD.InfoRow
{
    BACKGROUND-COLOR: lightgoldenrodyellow
}
TD.HeadRow
{
    BACKGROUND-COLOR: coral
}
TD.NormalRow
{
    BACKGROUND-COLOR: papayawhip
}
.NavText
{
    FONT-SIZE: 11px;
    COLOR: lightslategray;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
.RequiredText
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 16px;
    COLOR: crimson;
    FONT-FAMILY: Arial
}
A.Continuelink1:active
{
    FONT-SIZE: 14pt;
    COLOR: midnightblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Continuelink1:link
{
    FONT-SIZE: 14px;
    COLOR: firebrick;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Continuelink1:visited
{
    FONT-SIZE: 14px;
    COLOR: midnightblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Continuelink1:hover
{
    FONT-SIZE: 14px;
    COLOR: orangered;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Mainlink2:active
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    COLOR: saddlebrown;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Mainlink2:link
{
    FONT-SIZE: xx-small;
    COLOR: indianred;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Mainlink2:visited
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.Mainlink2:hover
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    COLOR: saddlebrown;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.BodyMediumPlaintext
{
    FONT-SIZE: 14px;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.BodyLargePlainText
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 16px;
    COLOR: black;
    FONT-FAMILY: Arial
}
A.PageLink:active
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: cornflowerblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.PageLink:link
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: darkolivegreen;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.PageLink:visited
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: saddlebrown;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.PageLink:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: orangered;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.SitemapText
{
    FONT-SIZE: 14px;
    COLOR: saddlebrown;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TD.PhotoFrame
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Arial, Verdana, Tahoma
}
